[branches]
base = "main"
release = "release"

[tags]
chore = "Chores"
feat = "New Features"
fix = "Bug Fixes"
perf = "Performance Improvements"
refactor = "Refactors"

[packages.zero-lang-highlight]
path = "."
resolver = "nodejs"

[resolver.nodejs.pre-check]
url = "https://registry.npmjs.org/{{ package.name }}/{{ package.version }}"

[[resolver.nodejs.publish]]
command = "npm"
args = [
    "publish",
    "--provenance",
    "--access",
    "public",
]
