name: Release

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Use Node.js 20.x
      uses: actions/setup-node@v4
      with:
        node-version: 20.x
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci
    
    - name: Package VSIX
      run: npm run package
    
    - name: Publish to VS Code Marketplace
      if: env.VSCE_PAT != ''
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
      run: npx vsce publish -p $VSCE_PAT
    
    - name: Upload VSIX to Release
      uses: softprops/action-gh-release@v1
      with:
        files: "*.vsix"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
